repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.3.5
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.9.0
  hooks:
  - id: mypy
    language: system
    args: [--config-file, mypy.ini]
- repo: local
  hooks:
  - id: pytest
    name: pytest
    entry: pytest -s -v tests/
    stages: [push]
    language: system
    pass_filenames: false
    always_run: true
