asciichartpy==1.5.25
confile==1.4
coverage==4.5.2
cython
fasteners==0.14.1
filelock==3.0.10
joblib==1.2.0
monotonic==1.5
numpy
pluggy
py
pytest
pytest-arraydiff==0.2
pytest-astropy==0.4.0
pytest-cov==2.10.1
flake8==4.0.1
pytest-flake8==1.0.6
pytest-pycodestyle==2.2.0
pytest-subprocess==1.0.0
pytest-tornasync
pytest-trio
pytest-twisted
PyYAML==5.4
scipy
six==1.12.0
SQLAlchemy==1.4.27
toml==0.10.0
transitions==0.8.0
twisted
virtualenv==16.4.3
watchdog==0.10.3
optuna==2.6.0
natsort==7.1.1
importlib_resources
importlib-metadata
mako
