PyYAML>=5.4
SQLAlchemy
asciichartpy
confile
coverage
cython
fasteners
filelock
flake8
importlib-metadata
importlib_resources
joblib>=1.2.0
mako
monotonic
myst-parser
natsort
optuna>=3.0.0
pluggy
pycodestyle
pytest>=7.2.0
pytest-arraydiff
pytest-astropy
pytest-cov
pytest-subprocess
pytest-tornasync
pytest-trio
pytest-twisted
scipy
six
sphinx-intl
sphinx
sphinx_fontawesome
sphinx_rtd_theme
sphinxcontrib.jquery>=3.0.0
toml
transitions
twisted
undecorated
watchdog
