study:
  _target_: optuna.create_study
  direction: minimize
  storage:
    _target_: optuna.storages.InMemoryStorage
  study_name: aiaccel_study
  load_if_exists: false

executor:
  _target_: aiaccel.hpo.job_executors.LocalJobExecutor
  n_max_jobs: 1

result:
  _target_: aiaccel.hpo.job_output_loaders.JsonJobOutputLoader
  filename_template: "{job.cwd}/{job.job_name}_result.json"

params:
  _convert_: partial
  _target_: aiaccel.hpo.apps.optimize.HparamsManager
