_base_: ${resolve_pkg_path:aiaccel.torch.apps.config}/train_base.yaml

trainer:
  sync_batchnorm: true
  
  plugins:
    _target_: aiaccel.torch.lightning.abci_environment.ABCIEnvironment
  devices: ${oc.decode:${oc.env:OMPI_COMM_WORLD_LOCAL_SIZE}}
  num_nodes: ${oc.decode:${oc.env:OMPI_MCA_orte_num_nodes}}
