html[data-theme="light"], html[data-theme="dark"] {
    --pst-color-primary: #C50018;
    --pst-color-secondary: #DB405C;
    --pst-color-inline-code-links: var(--pst-color-primary);
    --pst-color-inline-code: var(--pst-color-secondary);
}

html[data-theme="light"] {
    --pst-color-table-row-hover-bg: #E6E8EA;
    --pst-color-target: #E6E8EA;
}
html[data-theme="dark"] {
    --pst-color-table-row-hover-bg: #435165;
    --pst-color-target: #435165;
}