name: Lint

on:
  push:
    branches: ["main", "develop/*"]
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-22.04']
        python-version: ['3.10']
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: pyproject.toml
      - name: Install dependencies
        run: |
          pip install .[dev,github-actions]
      - name: Perform ruff
        run: |
          ruff check
          ruff format --check
      - name: Perform mypy
        run: |
          mypy --config-file mypy.ini . --explicit-package-bases
      - name: Perform docstrfmt
        run: |
          docstrfmt --check docs/source/
