name: Monthly Publish if Changes

on:
  schedule:
    - cron: '0 0 25 * *'  # 毎月25日 0:00 UTC（日本時間9:00）

jobs:
  publish-if-needed:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Check for commits in the past month
        id: check_commits
        # 先月30日から今日までに commit があるか？
        run: |
          if git log --since="1 month ago" --pretty=oneline | grep .; then
            echo "has_changes=true" >> $GITHUB_OUTPUT
          else
            echo "No changes. Skipping publish."
            echo "has_changes=false" >> $GITHUB_OUTPUT
          fi

      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: pyproject.toml
      - name: Install dependencies
        if: steps.check_commits.outputs.has_changes == 'true'
        run: |
          pip install --upgrade pip
          pip install -e .[dev,github-actions]

      - name: Publish to PyPI
        if: steps.check_commits.outputs.has_changes == 'true'
        env:
          FLIT_USERNAME: __token__
          FLIT_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: flit publish

      # オプション：バージョンをインクリメント
      - name: Bump version
        if: steps.check_commits.outputs.has_changes == 'true'
        run: python version_bump.py

      - name: Commit and push new version
        if: steps.check_commits.outputs.has_changes == 'true'
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add pyproject.toml
          git commit -m "Bump version [skip ci]"
          git push
